$sbp1_desktop: 1200px; // ScreenBreakpoint for Desktops
$sbp2_laptop: 1024px; // ScreenBreakpoint for Laptops
$sbp3_tablet: 768px; // // ScreenBreakpoint for iPads/Tablets
$sbp4_mobile: 480px; // ScreenBreakpoint for Mobile devices

$contentWidth: 100%; // max contentwidht .inner
// $contentWidthFooter: 1600px;
$headerHeight: 200px;
$headerHeightAfterScroll: 120px;

$colorBlack: #222; // text
$colorBlackLight: #555;
$colorGrey: #555; // packages header background
$colorGreyLight: #BBB; // package bullet splitters
$colorWhite: #FFF;
$colorWTM: #19b4b6; // logo color
$colorWTMdark: #0c5a5b;
$colorCtaBtn: #006878;

$fontFamily: 'Inter', sans-serif;
$fontFamilyButton: 'Karla', sans-serif;
$fontSize: 16px;

@import 'inc/burger-menu.adapter';
@import 'inc/contact-form';
@import 'inc/totop-btn';
@import 'inc/hero';

@mixin borderRadius {
    border-radius: 15px;
}
@mixin mainNavButton {
    font-family: $fontFamilyButton;
    color: $colorBlack;
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: none;
    &:hover {
        color: #AAA;
    }
    &.active {
        background-color: $colorWTM;
        color: $colorWhite;
        @include borderRadius;
        padding: 7px 16px 8px 16px;
        &:hover {
            color: #EEE;
        }
    }
}
@mixin textPaddingOnMobile {
    @media (max-width: $sbp3_tablet) {padding-left:30px;padding-right:30px;}
    @media (max-width: $sbp4_mobile) {padding-left:20px;padding-right:20px;}
}


html, body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $colorBlack;
    background-color: $colorWhite;
    scroll-behavior: smooth;
    background-image: url('../statics/bg.jpg');
    background-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    vertical-align: middle; // removes bottom 3px margin.
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.contentWrapper {
    .standardPage {
        padding-top: $headerHeight;
    }
    // min-height: 5000px;
    // > * {
    //     margin: 20px 0;
    //     padding: 20px 0;
    // }
    h1 {
        font-weight: normal;
        font-size: 2.5em;
        hr {
            display: inline-block;
            width: 70px;
            transform: translateY(5px);
        }
    }
    .fullw, .twoColumns {
        picture {
            img {
                width: 100%;
                position: relative;
                @media (min-width: ($sbp3_tablet + 1)) {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-height: 700px;
                }
                object-fit: contain;
                object-position: top;
                @include borderRadius;
            }
        }
    }
    .ctaBtnWrap {
        @media (max-width: $sbp3_tablet) {
            text-align: center;
        }
        .ctaBtn {
            @include borderRadius;
            background-color: $colorCtaBtn;
            color: $colorWhite;
            text-decoration: none;
            padding: 25px 100px;
            display: inline-block;
            box-shadow: #e1e1e1 10px 10px 0px -2px, $colorCtaBtn 10px 10px;
            &:active {
                transform: translate(5px, 5px);
                box-shadow: #e1e1e1 5px 5px 0px -2px, $colorCtaBtn 5px 5px;
            }
        }
    }
}

@font-face {
    font-family: 'wt_media_events';
    src: url('../fontello/font/wt_media_events.eot');
    src: url('../fontello/font/wt_media_events.eot#iefix') format('embedded-opentype'),
         url('../fontello/font/wt_media_events.woff2') format('woff2'),
         url('../fontello/font/wt_media_events.woff') format('woff'),
         url('../fontello/font/wt_media_events.ttf') format('truetype'),
         url('../fontello/font/wt_media_events.svg#wt_media_events') format('svg');
    font-weight: normal;                    
    font-style: normal;
    font-display: swap;
}

.inner {
    max-width: $contentWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    @media (max-width: $sbp1_desktop) {padding-left:80px;padding-right:80px;}
    @media (max-width: $sbp2_laptop) {padding-left:60px;padding-right:60px;}
    @media (max-width: $sbp3_tablet) {padding-left:0;padding-right:0;}
    @media (max-width: $sbp4_mobile) {padding-left:0;padding-right:0;}
}

.headerOuter {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    
    .headerInnerWrap {
        height: $headerHeight;
        transition: height 0.3s ease;
        &.afterScroll {
            height: $headerHeightAfterScroll;
        }
        padding: 0 40px;
        background-color: $colorWhite;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        .mainLogoWrap {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            img {
                height: 180px;
                transition: height 0.3s ease;
                &.afterScroll {
                    height: 100px;
                }
            }
        }
        
        .mainNav {
            #burger-check, .burger-label {
                display: none;
            }
            @media (max-width: $sbp3_tablet) {
                @include burgerMenuAdapter;
                #burger-check ~ ul {
                    background-color: #EFEFEF;
                    padding: 60px 0 20px 0;
                    z-index: 1;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    top: 0;
                    li {
                        a {
                            @include mainNavButton;
                        }
                        ul {
                            padding-top: 10px;
                            // text-align: left;
                            li {
                                padding: 10px 0;
                                a {
                                    // position: relative;
                                    // left: 40%;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
                #burger-check:checked ~ ul {
                    width: 60%;
                }
                .burger-label {
                    z-index: 2;
                    &.afterScroll {
                        top: 41px;
                    }
                }
            }
            @media (min-width: ($sbp3_tablet + 1)) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                ul {
                    display: flex;
                    gap: 40px;
                    @media (max-width: $sbp1_desktop) {gap: 15px;}
                    li {
                        position: relative;
                        a {
                            @include mainNavButton;
                            @media (max-width: $sbp1_desktop) {font-size: 1.1em;}
                        }
                        ul {
                            display: none;
                            left: 10px;
                            white-space: nowrap;
                            position: absolute;
                            background-color: $colorWTMdark;
                            @include borderRadius;
                            padding: 20px;
                            li {
                                padding: 5px 0;
                                a {
                                    color: #FFF;
                                    padding: 7px 16px 8px 16px;
                                }
                            }
                        }
                        &:hover {
                            ul {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.columns {
    display: flex;
    gap: 100px;
    @media (max-width: $sbp1_desktop) {gap: 80px;}
    @media (max-width: $sbp2_laptop) {gap: 60px;}
    @media (max-width: $sbp3_tablet) {gap: 30px;}
    @media (max-width: $sbp4_mobile) {gap: 20px;}
    @media (max-width: $sbp3_tablet) {flex-direction: column;}
    > div {
        flex: 1 1 50%;
        > :first-child {
            margin-top: 0;
        }
    }
    &.colReverse {
        @media (max-width: $sbp3_tablet) {flex-direction: column-reverse;}
    }
}


.textContent {
    // min-height: 500px;
}
.textPadMobile {
    @include textPaddingOnMobile;
    *:first-child {
        margin-top: 0;
    }
}
.anchorPoint {
    display: block;
    padding-top: $headerHeightAfterScroll;
    &:first-of-type {
        padding-top: $headerHeight;
    }
}

.pricing3Column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    article {
        flex: 0 1 400px;
        @media (max-width: $sbp4_mobile) {
            flex: 0 1 95%;
        }
        background-color: #EFEFEF;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .packHeader {
            background-color: $colorGrey;
            padding: 10px;
            color: #FFF;
            h3 {
                font-size: 1.8em;
            }
        }
        .packInfo {
            color: $colorBlackLight;
            padding: 20px 40px;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            div:first-child {
                p {
                    font-size: 2em;
                    font-weight: bold;
                }
            }
            div:last-child {
                a {
                    font-size: 1em;
                    padding: 10px 20px;
                    background-color: $colorGrey;
                    color: #FFF;
                    text-decoration: none;
                    @include borderRadius;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    border-bottom: 2px solid $colorGreyLight;
                    line-height: 3em;
                    &:before {
                        font-family: 'wt_media_events';
                        font-size: 1.3em;
                        content: '\e803\00a0\00a0';
                    }
                }
            }
        }
        &:hover {
            cursor: pointer;
            .packHeader {
                background-color: $colorWTM;
            }
            .packInfo {
                color: $colorBlack;
            }
            div:last-child {
                a {
                    background-color: $colorWTM;
                }
            }
        }


        // cursor: pointer;
        // transition: transform 0.2s ease;
        // width: 350px;
        // @media (max-width: $sbp4_mobile) {width:100%}
        // border: 1px solid transparent;
        // padding: 10px;
        // > div {
        //     border-bottom: 10px solid transparent;
        //     background-color: $colorWTM;
        //     color: $colorWhite;
        //     padding: 10px;
        //     height: 100%;
        //     display: flex;
        //     flex-direction: column;
        //     h3 {
        //         font-size: 2em;
        //         margin: 0;
        //     }
        //     > div {
        //         margin-top: auto;
        //         display: flex;
        //         justify-content: space-between;
        //         text-align: right;
        //         p {
        //             margin: 0;
        //             font-size: 1.5em;
        //             &:first-of-type {
        //                 border: 1px solid $colorWhite;
        //                 display: inline-block;
        //                 width: 50px;
        //                 &:before {
        //                     font-family: "wt_media_events";
        //                     display: block;
        //                     width: 50px;
        //                     font-size: 30px;
        //                     content: '\e802';
        //                     text-align: center;
        //                     padding-top: 9px;
        //                 }
        //             }
        //         }
        //     }
        // }
        // &:hover {
        //     transform: scale(1.03);
        //     border: 1px solid $colorWTMdark;
        //     > div {
        //         background-color: $colorWTMdark;
        //         border-bottom: 10px solid #1BFCFF;
        //     }
        // }
    }
}

.workingWithContent {
    text-align: center;
    .outerSwiperBox {
        position: relative;
        .partnerSwiper {
            padding: 20px;
            img {
                height: 150px;
                width: 150px;
                object-fit: contain;
            }
        }
        .swiper-pagination {
            bottom: -10px !important;
        }
    }
}

.eventsContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: $sbp2_laptop) {grid-template-columns: repeat(4, 1fr);}
    @media (max-width: $sbp3_tablet) {grid-template-columns: repeat(3, 1fr);}
    @media (max-width: $sbp4_mobile) {grid-template-columns: repeat(2, 1fr);}
    grid-gap: 5px;
    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        transition: transform 0.2s ease;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.subscribeContent {
    max-width: 800px;
    margin: 0 auto;
    .getUpdatesText {
        text-align: center;
        font-size: 2em;
        @include textPaddingOnMobile;
    }
}
.subscriptionForm {
    @include textPaddingOnMobile;
    text-align: center;
    input {
        font-family: $fontFamily;
        font-size: 1.5em;
        background-color: $colorBlack;
        color: $colorWhite;
        border: 0;
        @include borderRadius;
        height: 50px;
        padding: 0 20px;
        width: 350px;
        @media (max-width: $sbp4_mobile) {width: 100%;}
    }
    button {
        margin-top: 20px;
        background-color: $colorWTM;
        font-family: $fontFamily;
        color: $colorWhite;
        font-size: 1.5em;
        border: 0;
        @include borderRadius;
        padding: 10px 50px;
        display: inline-block;
        box-shadow: #e1e1e1 10px 10px 0px -2px, $colorCtaBtn 10px 10px;
        &:active {
            transform: translate(5px, 5px);
            box-shadow: #e1e1e1 5px 5px 0px -2px, $colorCtaBtn 5px 5px;
        }
    }
}

footer {
    padding: 50px 0;
    height: 400px;
    .ftr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $sbp2_laptop) {flex-direction: column;}
        img {
            height: 100px;
        }
        .footerContact {
            display: flex;
            gap: 40px;
            align-items: center;
            a {
                background-color: $colorWTM;
                color: $colorWhite;
                font-size: 1.2em;
                text-decoration: none;
                @include borderRadius;
                padding: 8px 15px;
            }
        }
        ul {
            @media (max-width: $sbp2_laptop) {display: none;}
            display: flex;
            gap: 20px;
            li {
                a {
                    font-family: $fontFamilyButton;
                    color: $colorBlack;
                    text-transform: uppercase;
                    font-size: 1.1em;
                    text-decoration: none;
                    &:hover {
                        color: #AAA;
                    }
                }
                ul {
                    display: none;
                }
            }
        }
    }
    .btm {
        @include textPaddingOnMobile;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sbp3_tablet) {flex-direction: column;justify-content:flex-start;text-align:center;}
        a {
            color: $colorBlack;
            &:hover {
                color: $colorWTM;
            }
        }
        .socials {
            display: flex;
            gap: 20px;
            a {
                img {
                    height: 40px;
                }
            }
        }
    }
}