/*
    Burger-menu
    DO NOT ALTER THIS MIXIN
*/
#route {
  background-color: #FFF;
}

.contactForm {
  text-align: center;
}
.contactForm#applyForm {
  padding-left: 0;
  padding-right: 0;
}
.contactForm > div {
  text-align: left;
  padding-top: 20px;
}
.contactForm > div:last-child {
  text-align: center;
}
.contactForm div.fieldlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contactForm div.fieldlist div {
  flex: 45%;
  padding: 0;
}
@media (max-width: 768px) {
  .contactForm div.fieldlist div {
    flex: 100%;
  }
}
.contactForm input, .contactForm textarea, .contactForm button, .contactForm select {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 18px;
  padding: 10px;
}
.contactForm input, .contactForm textarea {
  border: 2px solid #999;
}
.contactForm input:not([type=checkbox]), .contactForm textarea:not([type=checkbox]) {
  width: 100%;
}
.contactForm input[type=checkbox], .contactForm textarea[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
  cursor: pointer;
}
.contactForm button {
  cursor: pointer;
  padding: 10px 40px;
  background-color: #FFF;
  color: #333;
  font-weight: bold;
  box-shadow: 1px 1px 0px 0px #AAA, 2px 2px 0px 0px #AAA;
}
.contactForm button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

form input.snare, form textarea.snare {
  display: none;
}
form .error input, form .error textarea {
  border-color: red !important;
}
form .error span {
  color: red;
  display: block;
}

.alert {
  min-height: 120px;
  padding: 60px 20px 60px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 1.2em;
}
.alert.alert-success {
  background-color: rgb(111, 219, 111);
}
.alert.alert-danger {
  background-color: #ff2929;
}
.alert > div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.alert .thumbsUpIcon:before {
  font-family: "glomaroffshore";
  font-size: 60px;
  content: "\e809";
}
.alert .exclamationTriangleIcon:before {
  font-family: "glomaroffshore";
  font-size: 60px;
  content: "\e80e";
}

#toTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: -80px;
  z-index: 1;
  cursor: default;
  background-color: #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  transition: bottom 0.3s ease;
}
#toTop:before {
  font-family: "wt_media_events";
  font-size: 40px;
  color: #FFF;
  content: "\e800";
}
#toTop.show {
  bottom: 40px;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Anek Malayalam", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #FFF;
  scroll-behavior: smooth;
  background-image: url("../statics/bg.jpg");
  background-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contentWrapper {
  min-height: 5000px;
}

@font-face {
  font-family: "wt_media_events";
  src: url("../fontello/font/wt_media_events.eot");
  src: url("../fontello/font/wt_media_events.eot#iefix") format("embedded-opentype"), url("../fontello/font/wt_media_events.woff2") format("woff2"), url("../fontello/font/wt_media_events.woff") format("woff"), url("../fontello/font/wt_media_events.ttf") format("truetype"), url("../fontello/font/wt_media_events.svg#wt_media_events") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.headerOuter {
  position: fixed;
  width: 100%;
}
.headerOuter .headerInnerWrap {
  height: 200px;
  transition: height 0.3s ease;
  padding: 0 40px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.headerOuter .headerInnerWrap.afterScroll {
  height: 120px;
}
.headerOuter .headerInnerWrap .mainLogoWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.headerOuter .headerInnerWrap .mainLogoWrap img {
  height: 100px;
  transition: height 0.3s ease;
}
.headerOuter .headerInnerWrap .mainLogoWrap img.afterScroll {
  height: 60px;
}
.headerOuter .headerInnerWrap .mainNav #burger-check, .headerOuter .headerInnerWrap .mainNav .burger-label {
  display: none;
}
@media (max-width: 768px) {
  .headerOuter .headerInnerWrap .mainNav .burger-label {
    color: transparent; /* removes blinking cursor */
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
  }
  .headerOuter .headerInnerWrap .mainNav .burger-label span {
    margin: 0;
    margin-bottom: 7px;
    height: 5px;
    background: #333;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    display: block;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ .burger-label span:nth-child(2) {
    display: none;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ .burger-label span:nth-child(1) {
    transform: rotate(45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 12px;
    left: -6px;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ .burger-label span:nth-child(3) {
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 0px;
    left: -6px;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul {
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    transition: width 0.5s;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 1;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ ul {
    width: 90%;
  }
}
@media (min-width: 769px) {
  .headerOuter .headerInnerWrap .mainNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .headerOuter .headerInnerWrap .mainNav ul {
    display: flex;
    gap: 40px;
  }
  .headerOuter .headerInnerWrap .mainNav ul li a {
    color: #333;
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: none;
  }
  .headerOuter .headerInnerWrap .mainNav ul li a:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=styles.css.map */