/*
    Burger-menu
    DO NOT ALTER THIS MIXIN
*/
#route {
  background-color: #FFF;
}

.contactForm {
  text-align: center;
}
.contactForm#applyForm {
  padding-left: 0;
  padding-right: 0;
}
.contactForm > div {
  text-align: left;
  padding-top: 20px;
}
.contactForm > div:last-child {
  text-align: center;
}
.contactForm div.fieldlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contactForm div.fieldlist div {
  flex: 45%;
  padding: 0;
}
@media (max-width: 768px) {
  .contactForm div.fieldlist div {
    flex: 100%;
  }
}
.contactForm input, .contactForm textarea, .contactForm button, .contactForm select {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 10px;
}
.contactForm input, .contactForm textarea {
  border: 2px solid #999;
}
.contactForm input:not([type=checkbox]), .contactForm textarea:not([type=checkbox]) {
  width: 100%;
}
.contactForm input[type=checkbox], .contactForm textarea[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
  cursor: pointer;
}
.contactForm button {
  cursor: pointer;
  padding: 10px 40px;
  background-color: #FFF;
  color: #222;
  font-weight: bold;
  box-shadow: 1px 1px 0px 0px #AAA, 2px 2px 0px 0px #AAA;
}
.contactForm button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

form input.snare, form textarea.snare {
  display: none;
}
form .error input, form .error textarea {
  border-color: red !important;
}
form .error span {
  color: red;
  display: block;
}

.alert {
  min-height: 120px;
  padding: 60px 20px 60px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 1.2em;
}
.alert.alert-success {
  background-color: rgb(111, 219, 111);
}
.alert.alert-danger {
  background-color: #ff2929;
}
.alert > div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.alert .thumbsUpIcon:before {
  font-family: "glomaroffshore";
  font-size: 60px;
  content: "\e809";
}
.alert .exclamationTriangleIcon:before {
  font-family: "glomaroffshore";
  font-size: 60px;
  content: "\e80e";
}

#toTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: -80px;
  z-index: 1;
  cursor: default;
  background-color: #222;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  transition: bottom 0.3s ease;
}
#toTop:before {
  font-family: "wt_media_events";
  font-size: 40px;
  color: #FFF;
  content: "\e800";
}
#toTop.show {
  bottom: 40px;
}
#toTop:hover:before {
  color: #19b4b6;
}

.hero {
  position: relative;
  height: 600px;
}
.hero .heroOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8));
  color: #FFF;
  z-index: 1;
}
.hero .heroOverlay > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
  height: 100%;
  padding: 100px;
}
@media (max-width: 1200px) {
  .hero .heroOverlay > div {
    padding: 80x;
  }
}
@media (max-width: 1024px) {
  .hero .heroOverlay > div {
    padding: 60px;
  }
}
@media (max-width: 768px) {
  .hero .heroOverlay > div {
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .hero .heroOverlay > div {
    padding: 20px;
  }
}
.hero .heroOverlay h1 {
  margin: 0;
  line-height: 1.2em;
  font-weight: normal;
  font-size: 4em;
}
@media (max-width: 1024px) {
  .hero .heroOverlay h1 {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .hero .heroOverlay h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 480px) {
  .hero .heroOverlay h1 {
    font-size: 2em;
  }
}
.hero .heroOverlay p {
  margin: 0;
  font-size: 1.4em;
  line-height: 1em;
}
@media (max-width: 1024px) {
  .hero .heroOverlay p {
    font-size: 1em;
  }
}
.hero .heroOverlay .makeContact {
  display: flex;
  gap: 20px;
}
@media (max-width: 480px) {
  .hero .heroOverlay .makeContact {
    flex-direction: column;
    align-items: center;
  }
}
.hero .heroOverlay .makeContact a {
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 50px;
  height: 50px;
}
.hero .heroOverlay .makeContact a.email {
  background-color: #19b4b6;
  color: #FFF;
  width: 500px;
}
@media (max-width: 480px) {
  .hero .heroOverlay .makeContact a.email {
    width: 100%;
  }
}
.hero .heroOverlay .makeContact a.email:hover {
  background-color: #0c5a5b;
}
.hero .heroOverlay .makeContact a.phone {
  background-color: #FFF;
  color: #222;
  width: 50px;
}
.hero .heroOverlay .makeContact a.phone:before {
  font-family: "wt_media_events";
  font-size: 30px;
  content: "\e801";
  display: block;
  width: 50px;
}
.hero .heroOverlay .makeContact a.phone:hover:before {
  color: #19b4b6;
}
.hero .heroOverlay .makeContact a.phone span {
  visibility: hidden;
}
.hero .heroImages > div {
  display: block;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: absolute;
  top: 0;
  background-color: #222;
}
.hero .heroImages > div img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.7s ease;
  opacity: 0;
}
.hero .heroImages > div img:first-child {
  opacity: 1;
}
.hero .heroImages.zoom img {
  animation: scale 40s linear infinite;
}

@keyframes scale {
  50% {
    transform: scale(1.3);
  }
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #FFF;
  scroll-behavior: smooth;
  background-image: url("../statics/bg.jpg");
  background-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contentWrapper {
  min-height: 5000px;
}
.contentWrapper h1 {
  font-weight: normal;
  font-size: 2.5em;
}
.contentWrapper h1 hr {
  display: inline-block;
  width: 70px;
  transform: translateY(5px);
}
.contentWrapper .fullw img, .contentWrapper .columns img {
  width: 100%;
}
.contentWrapper .ctaBtn {
  background-color: #006878;
  color: #FFF;
  text-decoration: none;
  padding: 25px 100px;
  display: inline-block;
  box-shadow: #e1e1e1 10px 10px 0px -2px, #006878 10px 10px;
}
.contentWrapper .ctaBtn:active {
  transform: translate(5px, 5px);
  box-shadow: #e1e1e1 5px 5px 0px -2px, #006878 5px 5px;
}

@font-face {
  font-family: "wt_media_events";
  src: url("../fontello/font/wt_media_events.eot");
  src: url("../fontello/font/wt_media_events.eot#iefix") format("embedded-opentype"), url("../fontello/font/wt_media_events.woff2") format("woff2"), url("../fontello/font/wt_media_events.woff") format("woff"), url("../fontello/font/wt_media_events.ttf") format("truetype"), url("../fontello/font/wt_media_events.svg#wt_media_events") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.inner {
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 1200px) {
  .inner {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1024px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 480px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.headerOuter {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.headerOuter .headerInnerWrap {
  height: 200px;
  transition: height 0.3s ease;
  padding: 0 40px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.headerOuter .headerInnerWrap.afterScroll {
  height: 120px;
}
.headerOuter .headerInnerWrap .mainLogoWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.headerOuter .headerInnerWrap .mainLogoWrap img {
  height: 100px;
  transition: height 0.3s ease;
}
.headerOuter .headerInnerWrap .mainLogoWrap img.afterScroll {
  height: 60px;
}
.headerOuter .headerInnerWrap .mainNav #burger-check, .headerOuter .headerInnerWrap .mainNav .burger-label {
  display: none;
}
@media (max-width: 768px) {
  .headerOuter .headerInnerWrap .mainNav .burger-label {
    color: transparent; /* removes blinking cursor */
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
  }
  .headerOuter .headerInnerWrap .mainNav .burger-label span {
    margin: 0;
    margin-bottom: 7px;
    height: 5px;
    background: #222;
    border: 1px solid #222;
    border-radius: 3px;
    position: relative;
    display: block;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ .burger-label span:nth-child(2) {
    display: none;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ .burger-label span:nth-child(1) {
    transform: rotate(45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 12px;
    left: -6px;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ .burger-label span:nth-child(3) {
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 0px;
    left: -6px;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul {
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    transition: width 0.5s;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 1;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ ul {
    width: 90%;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul {
    background-color: #EFEFEF;
    padding: 20px 0;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul li a {
    font-family: "Karla", sans-serif;
    color: #222;
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: none;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul li a:hover {
    color: #AAA;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul li a.activeButton {
    background-color: #19b4b6;
    color: #FFF;
    border-radius: 20px;
    padding: 8px 16px;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check ~ ul li a.activeButton:hover {
    color: #EEE;
  }
  .headerOuter .headerInnerWrap .mainNav #burger-check:checked ~ ul {
    width: 60%;
  }
}
@media (min-width: 769px) {
  .headerOuter .headerInnerWrap .mainNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .headerOuter .headerInnerWrap .mainNav ul {
    display: flex;
    gap: 40px;
  }
  .headerOuter .headerInnerWrap .mainNav ul li a {
    font-family: "Karla", sans-serif;
    color: #222;
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: none;
  }
  .headerOuter .headerInnerWrap .mainNav ul li a:hover {
    color: #AAA;
  }
  .headerOuter .headerInnerWrap .mainNav ul li a.activeButton {
    background-color: #19b4b6;
    color: #FFF;
    border-radius: 20px;
    padding: 8px 16px;
  }
  .headerOuter .headerInnerWrap .mainNav ul li a.activeButton:hover {
    color: #EEE;
  }
}

.columns {
  display: flex;
  gap: 60px;
}
@media (max-width: 1200px) {
  .columns {
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .columns {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .columns {
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .columns {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}
.columns > div {
  flex: 1 1 50%;
}
.columns > div > :first-child {
  margin-top: 0;
}

.anchorPoint {
  display: block;
  padding-top: 120px;
}
.anchorPoint:first-of-type {
  padding-top: 200px;
}

.pricing3Column {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 1024px) {
  .pricing3Column {
    flex-direction: column;
    align-items: center;
  }
}
.pricing3Column article {
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 350px;
  border: 1px solid transparent;
  padding: 10px;
}
@media (max-width: 480px) {
  .pricing3Column article {
    width: 100%;
  }
}
.pricing3Column article > div {
  border-bottom: 10px solid transparent;
  background-color: #19b4b6;
  color: #FFF;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pricing3Column article > div h3 {
  font-size: 2em;
  margin: 0;
}
.pricing3Column article > div > div {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.pricing3Column article > div > div p {
  margin: 0;
  font-size: 1.5em;
}
.pricing3Column article > div > div p:first-of-type {
  border: 1px solid #FFF;
  display: inline-block;
  width: 50px;
}
.pricing3Column article > div > div p:first-of-type:before {
  font-family: "wt_media_events";
  display: block;
  width: 50px;
  font-size: 30px;
  content: "\e802";
  text-align: center;
  padding-top: 9px;
}
.pricing3Column article:hover {
  transform: scale(1.03);
  border: 1px solid #0c5a5b;
}
.pricing3Column article:hover > div {
  background-color: #0c5a5b;
  border-bottom: 10px solid #1BFCFF;
}/*# sourceMappingURL=styles.css.map */